UPSTOX_ANALYTICS_TOKEN=
UPSTOX_MARKET_DATA_ENABLED=false
UPSTOX_MARKET_DATA_TIMEOUT_SECONDS=8
UPSTOX_MARKET_DATA_CACHE_TTL_SECONDS=300
MARKET_REGIME_AGENT_ENABLED=true
MARKET_REGIME_REFRESH_SECONDS=300
MARKET_REGIME_TIMEFRAME_MINUTES=5
MARKET_REGIME_TIMEZONE=Asia/Kolkata
